<table class="table">
    <thead>
        <th>#</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Téléphone</th>
        <th>Departement</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let employee of listEmployees">
            <td>{{employee.id}}</td>
            <td>{{employee.employeeFirstName}}</td>
            <td>{{employee.employeeLastName}}</td>
            <td>{{employee.employeePhone}}</td>
            <td>{{employee.departement.departementName}}</td>
            <td>
                <div class="row">
                    <div class="col">
                        <button class="btn-sm btn btn-sm fa fa-edit btn-outline-info">Modifier</button>
                    </div>
                    <div class="col">
                        <button (click)="onDelete(employee.id)" class="btn-sm btn btn-sm fa fa-remove btn-outline-danger">Supprimer</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls previousLabel="Precedent" nextLabel="Suivant" [responsive]="true"
    (pageChange)="handlePageChange($event)">

</pagination-controls>

<ul>
    <li class="list-group-item" *ngFor="let employee of listEmployees | paginate:{
        itemsPerPage: PAGESIZE,
        currentPage: PAGE,
        totalItems: count
    }; let i = index" [class.active]="i === CURRENTINDEX">

    </li>
</ul>